{% extends 'templateSearch.html.twig' %}

{% block title %}Search {{ user.firstname }}{% endblock %}

{% block titleSearch %}
{% endblock %}

{% block Search %}
    <h1 class="paddingLeft3 fontSize4 fontProject color1 marginBottom1">Rechercher des amis :</h1>
{% endblock %}