{% extends 'template.html.twig' %}

{% block title %}cvcvc{% endblock %}

{% block body %}
     <p>Ce compte existe deja mais n'est pas encore associé a google afin de lassocier cliqier ici: <a class="nav-link" href="{{ path('associate_google') }}">Associer mon compte avec google</a></p>    
{% endblock %}
    