{% extends 'templateProfil.html.twig' %}

{% block title %}Profil Contact{% endblock %}

{% block titleProfil %}
    <h1 class="paddingLeft2 fontSize4 fontProject color3 marginTop1A">Contactez-moi</h1>
{% endblock %}
    
{% block Profil %}
        
{% endblock %}