{% extends 'templateProfil.html.twig' %}

{% block title %}Profil Info{% endblock %}

{% block titleProfil %}
    <h1 class="paddingLeft2 fontSize4 fontProject color3 marginTop1A">Information</h1>
{% endblock %}
    
{% block Profil %}
    {% if user.id == auth.id  %} {# je suis sur mon profil perso #}    {# form completedProfilForm #}
        moi
    {% else %} {# je suis sur le profil d'un user !== moi #} 
        Anonymous
    {% endif %}
        
{% endblock %}