{% extends 'templateProfil.html.twig' %}

{% block title %}Media {{ user.firstname }}{% endblock %}

{% block titleProfil %}
    <h1 class="paddingLeft2 fontSize4 fontProject color3 marginTop1A">Media</h1>
{% endblock %}
    
{% block Profil %}
        
{% endblock %}