<h1>Bienvenue! Confirmez votre E-mail!</h1>

<p>
    Confirmez votre adresse e-mail en cliquant sur le liens suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon E-mail</a><br>
    Ce liens expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement!
</p>
