{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}
     <div id="page" class="login flex flexColumn textAlignCenter alignItemCenter justifyCenter">
          <div id="loginPortalXL" class="flex flexColumn padding1 marginBottom2 borderRadius02 backColorWhite09">

               <h1 class="fontProject color1 fontSize4">Lien de confirmation</h1>

               <p class="fontProject color31">
                    Renvoyer un nouveau lien de confirmation d'email &nbsp<a class="color1" href="{{ path('send_newlink', { id: id }) }}">Cliquer-ici</a>
               </p>
          <p class="fontProject colorLightGrey">
               Si vous n'avez pas recu d'e-mail, verifier dans votre dossier de spam 
          </p>
        </div>
    </div>
{% endblock %}
    