{% extends 'template.html.twig' %}

{% block title %}Acceui{% endblock %}

{% block pageTitle %}Bienvenue sur l'acceuil{% endblock %}

{% block body %}
    <li><a class="" href="{{ path('login') }}">Login</a></li>
    <li><a class="" href="{{ path('register') }}">Register</a></li>
{% endblock %}
