       /* PAGE LOGIN/INSCRIPTION:::: */


       .accueil {
        background-image: url('../../public/assets/images/blue.jpg');
        background-size: cover;
        background-position: 50% 55%;            
    }
    
            /* FIN LOGIN/INSCRIPTION */
    
    
            /* PAGE DE LOGIN:::: */
    
    
    .login, .register {
        background-image: url('../../public/assets/images/background_login.jpg');
        background-size: cover;
        background-position: 30% 15%;     
    }
    #loginPortal {
        max-width: 30%;
        width: 35em;;
        box-shadow: rgb(0, 0, 0) 1px 1px 60px;
        /*position: fixed;*/
    }
    #loginPortalXL {
        max-width: 40%;
        width: 45em;;
        box-shadow: rgb(0, 0, 0) 1px 1px 60px;
        /*position: fixed;*/
    }
    .hrco {
        width: 90%;
        margin-bottom: 1.5em;
    }
    #logoGoogle {
        width: 3em;
    }
    .input1 {
        width: 48.5%;
    }
    .input2 {
        width: 45%;
    }
    #loginButton {
        margin-left: 0.8em;
        padding: 0.45em !important;
        width: 55%;
        transition: 0.5s;
    }
    #loginButton:hover {
        opacity: 0.85;
        cursor: pointer;
        box-shadow:  rgba(0, 0, 0, 0.5) 1px 1px 10px;
        transition-duration: 0.25s;
    }
    #check1 {
        cursor: pointer;
        opacity: 0.75;
    }
    #linkGoogle1 {
        transition: 0.25s;
    }
    #linkGoogle1:hover {
        
        padding-left: 1em;
        padding-right: 1em;
        border: 0px solid rgba(255, 255, 255, 0.975);
        border-radius: 2em;
        box-shadow:  rgba(0, 0, 0, 0.5) 1px 1px 10px;
        transition-duration: 0.25s;
    }
    .link1 {
        opacity: 1;
        transition: 0.20s;
    }
    .link1:hover {
        opacity: 0.65;
        transition-duration: 0.25s;
    }
    
            /* FIN PAGE LOGIN */
    
    
            /* PAGE INSCRIPTION */
    
    
    .registerButton1 {
        width: 90%;
        transition: 0.25s;
        
    }
    .registerButton2 {
        width: 90%;
        padding: 1em !important;
        cursor: pointer;
        transition: 0.25s;
    }
    
    .registerButton1:hover, .registerButton2:hover {
        opacity: 0.75;
        box-shadow:  rgba(0, 0, 0, 0.5) 1px 1px 10px;
        transition-duration: 0.25s;
    }
    .form1 {
        width: 100%;
    }
    .rowForm1 {
        width: 100%! important;
    }
    .inputBirthday {
        width: 48.5% !important; 
    }
    .error1 li {
        margin-top: -1.75em;
        margin-bottom: -0.5em;
        opacity: 0.85;
    }
    #titleRegister {
        margin-bottom: -0.15em;
    }
    #hrRegister {
        width: 100%;
    }
    
            /* FIN PAGE INSCRIPTION */
    
           /*  RESET PASS  */
    
    .error2 li {
        margin-bottom: -1em;
        opacity: 0.85;
    }
           /* FIN RESET PASS */
    
           /* PAGE PROFIL PERSONNE:::: */
    
    
    /* LARGEUR BLOCK PAGE: MENU_PAGE ET CENTRE_PAGE:: */
    
    /*#blockPage {
        width: 100%;
        background-color: red;
    }*/
    #blockLeft {
        width: 16.5%;
        max-width: 26.4em;
    }
    #blockCenter {
        width: 83.5%;
        margin-left: 16.5%; /* afin de fixed le block gauche */
        /*height: 100vh !important;*/
        background: linear-gradient(90deg, rgb( 231, 231, 231, 0.65) 0%, rgba( 231, 231, 231, 0.50) 1%, rgba( 231, 231, 231, 0.25) 2%, rgba(231, 231, 231, 0.25) 3%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.0) 15%, rgba(255, 255, 255, 0.0) 100%) !important;
    }
    
    /* HAUTEUR BLOCK PAGE: MENU_PAGE ET CENTRE_PAGE:: */
    
    #page {
        min-height: 100vh;          /*permet le background sur toute la page et plus si besoin*/
        width: 100% !important;
        max-width: 2560px;
        margin: auto;
    }
    
    /* MENU:: */
    
    #leftMenu {
        line-height: 2.25em !important;
        width: 100% !important;
    }
    .leftMenu:hover {
        color: rgba(245, 174, 36, 1);
        background-color: rgba(254, 249, 239, 1);
    }
    .leftMenu {
        padding: 0.85em;
        padding-left: 15%;
    }
    .menuProfil:hover {
        color: rgba(245, 174, 36, 1);
    }
    .menuProfilSelected {
        border-bottom-color: rgba(245, 174, 36, 1) !important;
        color: rgba(245, 174, 36, 1) !important;
    }
    .titleMenu {
        padding-left: 15%;
    }
    #logout {
        padding: 0.85em;
        padding-left: 15%;
        transition: 0.25s;
    }
    #logout:hover {
        color: rgb(236, 84, 57);
        background-color: rgb(255, 235, 226);
        transition-duration: 0.25s;
    }
    #login1 {
        padding: 0.85em;
        padding-left: 15%;
        transition: 0.25s;
    }
    #login1:hover {
        color:  rgb(1, 182, 55);
        background-color:  rgb(230, 255, 239);
        transition-duration: 0.25s;
    }
    
    
    /* LOGO APPLI:: */
    
    #logoApp {
        height: 7.5em;
        overflow: hidden;
    }
    #logo {
        max-height: 11em !important;
        width: 85% !important;
        margin-left: 0%;
        margin-right: 15%;
    }
    
    /* PHOTO DE COUVERTURE DIV:: */
    
    #cover {
        max-height: 10em !important;
        width: 100%;  
       
    }
    #boxShadow {  
        width: 100% !important;
        height: 10em;
        z-index: 5 !important;
        margin-top: -10em;
        position: relative;
        box-shadow: -1px -13px 29px -14px rgba(0,0,0,0.75) inset !important;
    }
    #cover img {
        z-index: -5 !important;
        margin-top: -7%;
        width: 100%;
     }  
     
    /* PHOTO DE PROFIL DIV::  */
    
    #pictureProfil {
        background-color: rgba( 160, 160, 160, 1);
        width: 8em;
        height: 8em;
        margin-top: -5em;
        z-index: 10 !important;
    }
    #pictureProfil img {
        width: 100%; 
    }
    
    /* DEMANDE DE LIEN DE CONFIRM */
    
    .repeat .fa-arrow-rotate-right{
        transition: 0.5s;
    }
    .repeat .fa-arrow-rotate-right:hover {
        color: rgb(236, 84, 57);
        transform: scale(1.25) rotate(360deg);
        transition-duration: 0.75s;
    }
    .bubble-info {
        position: relative;  /*les .picto-item deviennent référents*/
        cursor: pointer;
        border-radius: 50%;
    }
    .bubble-info:hover:after, .bubble-info:focus:after {
        content: attr(aria-label); 
        position: absolute;
        top: -2.7em;
        left: 50%;
        transform: translateX(-50%); /* on centre horizontalement  */
        z-index: 50; /* pour s'afficher au dessus des éléments en position relative */
        white-space: nowrap;  /* on interdit le retour à la ligne*/
        padding: 5px 14px;
        background: #413219;
        color: #fff;
        border-radius: 4px;
        font-size: 1.2rem;
    }
    [aria-label]:focus {
        outline: none !important;
    }
    [aria-label]:hover:before, [aria-label]:focus:before {
        content: "▼";
        position: absolute;
        top: -1.35em;
        left: 50%;
        transform: translateX(-50%); /* on centre horizontalement  */
        font-size: 20px;
        color: #413219;
    }
    
    /* INFO HAUT DROITE:: */
    
    #partRightRow {
        min-width: 30%;
    }
    /*.pastille {
        height: 1.5em;  
        border-radius: 35px; 
    }*/
    /*#pastilleAddHover {
        transition: 0.25s;
    }
    #pastilleAddHover:hover {
        opacity: 0.693;
        cursor: pointer;
        transition-duration: 0.25s;
    }*/
    
    /* NAV PROFIL CENTER:: */
    
    #navProfil { 
        width: 40em;
        max-width: 95%;
    }
    
    /* MEDIA UPLOAD FOTO */
    
    .btnUpload {
        height: 1.5em;  
        border-radius: 35px;
        transition: 0.25s;
        
        /*margin-left: ;*/
    }
    .btnUpload:hover {
        transition: 0.25s;
        opacity: 0.693;
        cursor: pointer;
        transition-duration: 0.25s;
        /*margin-left: ;*/
    }
    .divBtnUpload {
        width: 50%;
    }
    #portalUploadPicture {
        opacity: 0;
        background-color: #f1f1f3;
        border-color: #8f8f9d;
        width: 30%;
        /*margin-left: 3em;*/
        border-radius: 1em;
        box-shadow:  rgba(0, 0, 0, 0.35) 1px 1px 10px;
        animation-duration: 0.75s;
        animation-delay: 0.15s;
        animation-fill-mode: forwards;
        animation-name: mouvUploadPicture;
    }
    @keyframes mouvUploadPicture {
        0%   {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .input3 {
        border-radius: 0.4em !important;
        padding: 0.2em;
        width: 55%;
    }
    .registerButton3 {
        width: 90%;
        padding: 0.5em !important;
        cursor: pointer;
        transition: 0.25s;
    }
    .registerButton3:hover {
        opacity: 0.75;
        box-shadow:  rgba(0, 0, 0, 0.5) 1px 1px 10px;
        transition-duration: 0.25s;
    }
    .button1 {
        margin-left: -3em;
        margin-top: -0.5em;
        text-align: center;
        padding-left: 0 !important;
        margin-bottom: 0.75em;
    }
    .error3 li {
        margin-top: -0.5em;
        margin-bottom: -0.25em;
        opacity: 0.85;
        margin-left: 1em;
    }
    
    /* MEDIA AFFICHAGE MEDIA */
    
    .test55 {
        border: 10px solid rgb(0, 0, 0);
       
        width: 11em;
        height: 7em;
        
    }
    .test55 iframe { /*defini lataille de a miniature*/
        width: 11em;
        height: 7em;
        
    }
    .mediaButton {
        padding-top: 1em;
        background-color: #ffeaa4;
        border: 2px solid  rgba(84, 84, 84, 0.75);
        border-radius: 0.5em;
        width: 10em;
    }
    .mediaButton:hover {
        opacity: 0.9;
        box-shadow:  rgba(0, 0, 0, 0.5) 1px 1px 10px !important;
    }
    .mediaButton .fa-image, .mediaButton .fa-camera-retro, .mediaButton .fa-music, .mediaButton .fa-list, .mediaButton .fa-folder-open {
        font-size: 4em !important;
        margin-bottom: -0.15em !important;
    }
    .butHov {
        transition: 0.25s;
    }
    .butHov:hover {
        transition-duration: 0.25s;
        color : black;
    }
    .titleMedia {
        font-size: 1.5em;
        max-width: 9.5em; /*comme lencart video*/
        color:  #474747;
        margin-bottom: 0.25em !important;
    }
    /*.btnUpload {
        box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
        transition: 0.15s;
    }
    .btnUpload:hover {
        margin-top: 0.25em;
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75); 
        margin-bottom: -0.25em;  
        transition-duration: 0.10s;
    }*/
    
    
            /* FIN PAGE PROFIL PERSONNE:::: */
    
            
    
    