{% extends 'templateProfil.html.twig' %}

{% block title %}Media {{ user.firstname }}{% endblock %}

{% block titleProfil %}{% endblock %}

{% block Profil %}
    {% if auth != false and user.id == auth.id %}
            
        {% if croppedImage is null %}
            {{ form_start(form) }}
                <div class="crop">
                    <div class="cropZone">
                        {{ form_widget(form) }}
                    </div>
                    <div id="cropFlex" class="flex justifyBetween">
                        <div id="cropper-preview"></div>
                        <button type="submit" id="cropIt">Crop it!</button>
                    </div>
                </div>
            {{ form_end(form) }}    
        {% endif %}
    {% endif %}
    &nbsp  &nbsp &nbsp &nbsp
{% endblock %}